#d-body {
    width: 100vw;
    height: 100vh;
    background: #3ca05d;
}

/* Header */

/* Classes */

.d-nav-link {
    font-family: 'Poiret One', cursive;
    font-weight: 1000;
    font-size: calc(1.5vw + 2vh);
    color: #ffffff;
    margin: 1vw 2vw;
    text-decoration: none;
}

.d-nav-link:hover {
    color: #ffbf1f;
}

.d-nav-link:active {
    color: #cf2860;
}

.d-vertical-menu {
    width: fit-content !important;
    height: 60vh !important;
    font-size: calc(3vw + 1.5vh) !important;
    top: 10vh !important;
    align-self: flex-start !important;
}

/* ID Tags */

#d-header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    padding-top: 1vh;
    margin-bottom: 2vh;
    z-index: 200;
}

#d-logo {
    width: 18vw;
    height: fit-content;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 1000;
    font-size: calc(2vw + 3vh);
    color: #ffbf1f;
    margin: auto 2vw;
    text-decoration: none;
}

#d-logo:hover {
    color: #fff;
}

#d-menuButton {
    width: 25px;
    height: 25px;
    margin: auto 2vw;
}

#d-headerUl {
    width: 78vw;
    height: inherit;
    font-size: calc(1.5vw + 2vh);
    position: relative;
    margin: 0;
}

#d-headerUl li {
    width: fit-content;
    height: fit-content;
    margin:auto 0;
}

/* Showcase Section */

/* Classes */

/* ID Tags */

#d-showcase {
    width: 86vw;
    position: relative;
    align-self: center;
    top: 15vh;
    margin: 5vh 0;
}

#d-formCover {
    width: 100%;
    height: 100%;
    background: #3ca05d;
    opacity: 0.7;
    position: absolute;
    z-index: 100;
}

#d-donationForm {
    width: inherit;
    font-family: 'Gluten', cursive;
    font-size: calc(2vw + 2vh);
    color: #fff;
    align-self: center;
}

#d-donationForm * {
    margin: 1vw;
}

#d-donationInput {
    width: 110px;
    height: calc(2vw + 2vh);
    background: transparent;
    font-family: 'Josefin Slab';
    font-size: calc(1vw + 1vh);
    color: #ffbf1f;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1% 3.5%;
    margin: 2%;
}

#d-donationInput:focus {
    color: #fff;
    outline: none;
    border-color: #ffbf1f;
}

#d-donateButton {
    font-family: 'Josefin Slab', cursive;
    font-size: calc(2vw + 2vh);
    color: #fff;
    border: 1px solid #ffbf1f;
    border-radius: 2rem;
    background: transparent;
    padding: calc(1vw + 1vh);
    margin-top: 5%;
}

#d-donateButton:hover {
    color: #ffbf1f;
    border-color: #fff;
}
/* Footer */

/* ID Tags */

#d-footer {
    width: 40%;
    height: 15vh;
    position: fixed;
    bottom: 0;
    align-self: center;
    margin-bottom: 3vh;
}

#d-footerNav {
    width: 100%;
    height: 8vh;
    margin-bottom: 3vh;
}

#d-footerNote {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-family: 'Gluten', cursive;
    font-size: calc(1vw + 1.5vh);
    white-space: nowrap;
    color: #ffffff;
}

#d-footerNote:hover {
    color: #ffbf1f;
}

/* Media Queries */

@media (max-width: 320px) {
    
    #d-donationForm {
        flex-direction: column !important;
    }


    #d-footer {
        width: 70%;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    #d-footer {
        width: 60%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #d-footer {
        width: 50%;
    }
}
