.idpd-hoverable {
    cursor: url('../images/svg/pointer-hover.svg'), auto;
}

#idpd-body {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 450px;
    position: absolute;
    top: 0;
    background: #3ca05d;
    cursor: url('../images/svg/pointer.svg'), auto;
}

/* Header */

/* Classes */

.idpd-nav-link {
    font-family: 'Poiret One', cursive;
    font-weight: 1000;
    margin: 1vw 2vw;
    text-decoration: none;
    color: #fff;
}

.idpd-nav-link:hover {
    color: #ffbf1f;
}

.idpd-nav-link:active {
    color: #cf2860;
}

/* ID Tags */

#idpd-logo {
    color: #ffbf1f;
}

#idpd-logo:hover {
    color: #fff;
}

/* Showcase Section */

/* Classes */

/* ID Tags */

#idpd-showcase {
    width: fit-content;
    height: 45vh;
    min-height: 240px;
    max-height: 350px;
    position: relative;
    align-self: center;
    top: 120px;
    border: 4px double #ffbf1f;
    border-radius: 1rem;
    outline: 4px double #fff;
    padding: 40px 20px 20px 20px;
    /* margin: 25px 0; */
}

#idpd-donationForm {
    width: inherit;
    height: 40%;
    font-family: 'Josefin Slab';
    font-size: calc(3vw + 0.8rem);
    color: #ffbf1f;
    align-self: center;
}

#idpd-donationTxt {
    font-family: 'Gluten', cursive;
    color: #fff;
    margin: 25px 0;
}

#idpd-donationInput {
    width: calc(10vw + 4rem);
    height: calc(3vw + 0.8rem);
    max-width: 130px;
    max-height: 35px;
    background: transparent;
    font-size: calc(1.6vw + 0.4rem);
    color: #ffbf1f;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
}

#idpd-donationInput:focus {
    color: #fff;
    outline: none;
    border-color: #ffbf1f;
}

#idpd-donateButton {
    font-family: 'Josefin Slab', cursive;
    font-size: calc(2vw + 0.8rem);
    color: #fff;
    border: 1px solid #ffbf1f;
    border-radius: 2rem;
    background: transparent;
    padding: calc(0.8vw + 0.4rem);
    margin-top: 40px;
}

#idpd-donateButton:hover {
    color: #ffbf1f;
    border-color: #fff;
}

#idpd-donateButton:active {
    color: #cf2860;
    border-color: #cf2860;
}
/* Footer */

/* ID Tags */

#idpd-footerNote {
    color: #ffffff;
}

#idpd-footerNote:hover {
    color: #ffbf1f;
}

/* Media Queries */

@media (max-height: 500px) {
    #idpd-showcase {
        top: 90px;
    }
}
/* 
@media (max-width: 320px) {

}

@media (min-width: 320px) and (max-width: 576px) {

}

@media (min-width: 576px) and (max-width: 768px) {

} */

@media (min-width: 768px) {
    #idpd-donationForm {
        font-size: calc(2vw + 0.8rem);
    }
    
    #idpd-donateButton {
        font-size: calc(1.5vw + 0.8rem);
    }
}
