html {
    cursor: url('../images/svg/pointer.svg'), auto;
}

.hoverable {
    cursor: url('../images/svg/pointer-hover.svg'), auto;
}

#c-body {
    width: 100vw;
    min-height: 100%;
    background: #ffffff;
}

/* Header */

/* Classes */

.c-nav-link {
    font-family: 'Poiret One', cursive;
    font-weight: 1000;
    color: #0d8a6f;
    margin: 1vw 2vw;
    text-decoration: none;
}

.c-nav-link:hover {
    color: #fb4a85;
}

.c-nav-link:active {
    color: #49a8f0;
}

/* ID Tags */

#c-header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    padding-top: 1vh;
    margin-bottom: 2vh;
    z-index: 200;
}

#c-logo {
    width: 18vw;
    height: fit-content;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 1000;
    font-size: calc(2vw + 3vh);
    color: #b42857;
    margin: auto 2vw;
    text-decoration: none;
}

#c-logo:hover {
    color: #2ec7a6;
}

#c-menuButton {
    width: 25px;
    height: 25px;
    margin: auto 2vw;
}

#c-headerUl {
    width: 78vw;
    height: inherit;
    font-size: calc(1.5vw + 2vh);
    position: relative;
    margin: 0;
}

#c-headerUl li {
    width: fit-content;
    height: fit-content;
    margin:auto 0;
}

/* Showcase Section */

/* Classes */

/* ID Tags */

#c-showcase {
    width: 86vw;
    height: 60vh;
    position: relative;
    align-self: flex-start;
    top: 15vh;
    font-size: calc(0.5vw + 2.2vh);
    margin: 0 7vw;
}

#c-formCover {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    position: absolute;
    z-index: 100;
}

#c-messagereceived {
    width: inherit;
    height: 60%;
    font-family: 'Gluten';
    font-size: calc(2vw + 1vh);
    color: #0d8a6f;
    text-align: center;
    margin: auto;
}

#c-contactForm{
    width: inherit;
    height: inherit;
}

#c-contactPar{
    height: 10vh;
    font-family: 'Nanum Myeongjo';
    color: #c20946;
    margin: 0;
}

#c-contactEmail{
    height: 10vh;
    font-family: 'Gluten';
    color: #f76c9a;
    margin: 0;
}

.c-clientInfo {
    width: inherit;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vh 2vw 0 0;
}

.c-clientInfo label {
    width: fit-content;
    height: inherit;
    font-family: 'Gluten';
    font-size: calc(0.8vw + 2.2vh);
    color: #ba0340;
    padding: 1.5vh 1vh 1vh 1vh;
    margin-right: 1vh;
}

.c-clientInfo label:hover {
    cursor: url('../images/svg/pointer.svg'), auto;
}

.c-clientInfo input {
    width: 50%;
    height: 90%;
    font-family: 'Courgette', cursive;
    font-size: calc(1.5vw + 1.5vh);
    border: 1px solid #b42857;
    padding: 1%;
    margin: 0;
    flex-grow: 1;
}

.c-clientInfo input:focus {
    outline: none;
}

#c-messageDiv {
    width: inherit;
    height: 30vh;
    margin: 2vh 0;
    border: 1px solid #b42857;
    /* flex-grow: 1; */
}

#c-clientMessage {
    width: 99%;
    height: 80%;
    overflow-y: auto;
    resize: none;
    font-family: 'Courgette', cursive;
    font-size: calc(1vw + 1.5vh);
    border: none;
    padding: 0 2vh;
    margin: 3% 0;
}

#c-clientMessage:focus {
    outline: none;
}

#c-messageButtons {
    width: inherit;
    max-width: 100%;
    height: 15%;
    align-self: flex-start;
    padding: 0 2vw;
}

#c-messageButtons p {
    font-family: 'Gluten', cursive;
    font-size: calc(1vw + 1.5vh);
    color: #0b7a62;
    padding: 0.2vw;
    margin: 0 1vw;
    text-align: center;
}

#c-messageButtons span{
    font-family: 'Josefin Slab', cursive;
    font-size: calc(1.5vw + 1.5vh);
    color: #f93879;
    padding: 0.2vw;
    margin: 0 1vw;
    text-align: center;
}

#c-messageButtons span:hover{
    color: #2ec7a6;
}

#c-messageButtons span:active{
    color: #0479d3;
}

#c-messageButtons input{
    display: none;
}
/* 
#c-sendEmail {
    padding: 0.2vw;
    text-align: center;
} */
/* 
#c-showcase h4{
    width: fit-content;
    font-family: 'Josefin Slab';
    color: #f93879;
    align-self: flex-end;
    margin-top: 0;
} */

/* Footer */

/* ID Tags */

#c-footer {
    width: 40%;
    height: 18vh;
    position: fixed;
    bottom: 0;
    align-self: center;
    padding: 1.5vh;
}

#c-footerNav {
    width: 100%;
    height: 8vh;
    margin-bottom: 3vh;
}

#c-footerNote {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-family: 'Gluten', cursive;
    font-size: calc(1vw + 1.5vh);
    white-space: nowrap;
    color: #d8215e;
}

#c-footerNote:hover {
    color: #2ec7a6;
}

/* Media Queries */

@media (max-width: 320px) {
    #c-footer {
        width: 70%;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    #c-footer {
        width: 60%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #c-footer {
        width: 50%;
    }
}


/* Animations */

.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.7s ease-in-out both;
	        animation: scale-up-ver-top 0.7s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-25 12:0:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}




.scale-down-ver-top {
	-webkit-animation: scale-down-ver-top 0.3s linear both;
	        animation: scale-down-ver-top 0.3s linear both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-25 12:14:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-down-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

