/* Fonts */

@font-face {
    font-family: Logo-Font;
    src: url("../fonts/logo-mobile.ttf");
}

@font-face {
    font-family: Star-Bold;
    src: url("../fonts/StarBold.ttf");
}

@font-face {
    font-family: Illustrated;
    src: url("../fonts/SpaceallyIllustration-Regular.ttf");
}

@font-face {
    font-family: Pandora;
    src: url("../fonts/pandoralimiter_Teabeer.ttf");
}

body {
    overflow-y: hidden;
}

/* ID Tags */

#m-body {
    background-color: #02021b;
    width: 100vw;
    height: 100vh;
    /* min-width: 320px; */
    cursor: url("../images/svg/pointer.svg"), auto;
}
/* 
#m-containerWrapper {
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 95vh;
} */

#m-mainContainer {
    width: inherit;
    height: inherit;
    /* min-width: 320px; */
    min-height: 90vh;
    position: relative;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
}

#m-bodyCover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    z-index: 1000;
}

/* Header Section */

#m-header {
    height: 12vh;
    font-family: Logo-Font;
    color: #b2ffff !important;
    font-size: calc(3vw + 3vh);
    position: relative;
    z-index: 2000;
    margin-bottom: 2vh;
}

#m-headerCover {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    border-radius: 50%;
    z-index: 3000;
}

#m-logoLeft,
#m-logoRight {
    letter-spacing: calc(3vw + 3vh + 1.5vmin);
}

#m-logoRight {
    transform: rotateY(180deg);
}

#m-logoMoon {
    font-family: "Illustrated";
    font-size: calc(2vw + 2vh);
    padding-top: calc(1vh + 1vw);
    text-shadow: 0 0 28px #a2e5ff;
}

#m-logo:hover {
    color: #1c9b31 !important;
}

/* Showcase Section */

#m-showcase {
    width: 100vw;
    height: 50vh;
    margin: 0;
}

#m-orderDiv {
    width: 80%;
    max-height: calc(3vh + 3vw);
    font-family: "Creepster", cursive;
    font-size: calc(2vw + 3vh);
    text-align: center;
    background: linear-gradient(to bottom, #ffe56f, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.8vw;
    white-space: nowrap;
    position: relative;
    bottom: 4vh;
    /* margin-left: 5vw; */
}

#m-orderDiv:hover {
    background: #f8cc09;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#m-orderDiv:active {
    background: #8e0000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#m-centralDiv {
    width: 100%;
    flex-grow: 1;    
}

#m-navUl {
    width: 18vw;
    margin: 0 0 0 2vw;
}

#m-navUl li{
    width: fit-content;
    height: fit-content;
    margin: calc(4vw + 2vh) 0;
    transform: rotate(-33deg);
}

#m-portNav, #m-appNav {
    font-family: "Pandora";
    font-size: calc(1vw + 2vh);
    letter-spacing: 0.42vw;
    text-decoration: none;
    color: #a2e5ff !important;
}

#m-portNav:hover, #m-appNav:hover {
    color: #27b595 !important;
}

#m-orderCentral {
    width: 30%;
    height: 100%;
}

#m-orderRight {
    font-family: "Star-Bold";
    font-size: calc(2vw + 2vh);
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5vw;
    color: #b2ffff;
    width: fit-content;
    /* max-height: 10vh; */
    transform: rotate(33deg);
    /* margin: 10vh 5vw 0 0; */
}

#m-orderRight:hover {
    color: #27b595 !important;
}

#m-orderRightStar {
    font-family: "Illustrated";
    font-size: calc(2vw + 2vh);
    letter-spacing: 0;
}

#m-donateLink {
    width: fit-content;
    position: relative;
    /* right: 12%; */
    margin-top: auto;
}

#m-donateIcon {
    transform: rotate(150deg);
    margin: 0 20%;
}

/* Notes Section */

#m-notes {
    width: inherit;
    height: 1vh;
    font-family: 'Gluten', cursive;
    font-size: calc(1vh + 1.2vw);
}

#m-skipAnimations {
    width: fit-content;
    height: fit-content;
    color: #a2e5ff;
    white-space: nowrap;
    line-height: 5vh;
    text-align: end;
    /* transform: rotate(-40deg); */
    position: relative;
    left: 1vh;
    z-index: 4000;
}

#m-footerNote {
    width: fit-content;
    height: fit-content;
    color: #a2e5ff;
    text-decoration: none;
    white-space: nowrap;
    transform: rotate(33deg);
    position: relative;
    right: 2vh;
}


/* Footer */

#m-footer {
    width: 100%;
    height: 18vh;
}

#m-footerUl {
    width: 40%;
    height: 100%;
    max-height: fit-content;
}

#m-telegramNav {
    align-self: center;
}

#m-emailNav {
    transform: rotate(10deg);
    align-self: flex-start;
}

#m-linkedinNav {
    transform: rotate(-20deg);
    align-self: center;
}

/* Media Queries */

@media (max-width: 768px) {
    /* #m-footer {
        margin-top: 5vh;
    } */
/* 
    #m-footerNote {
        color: red;
        align-self: center;
    } */
}

@media (max-width: 576px) {
    /* #m-skipAnimations {
        bottom: 7vw;
    } */

    #m-footer {
        margin-bottom: 2vh;
    }

    #m-footerUl {
        width: 50%;
        height: 30vh;
    }
/* 
    #m-footerNote {
        color: red;
        top: 10vw;
    } */
}
