/* Fonts */

@font-face {
    font-family: Logo-Font;
    src: url("../fonts/logo-mobile.ttf");
}

@font-face {
    font-family: Star-Bold;
    src: url("../fonts/StarBold.ttf");
}

@font-face {
    font-family: Illustrated;
    src: url("../fonts/SpaceallyIllustration-Regular.ttf");
}

@font-face {
    font-family: Pandora;
    src: url("../fonts/pandoralimiter_Teabeer.ttf");
}

.idpm-hoverable {
    cursor: url('../images/svg/pointer-hover.svg'), auto;
}

/* ID Tags */

#idpm-body {
    width: 100vw;
    height: inherit;
    min-width: 250px;
    min-height: 450px;
    cursor: url("../images/svg/pointer.svg"), auto;
}

#idpm-mainContainer {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 450px;
    position: relative;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
    opacity: 1;
}

#idpm-bodyCover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    z-index: 1000;
    opacity: 1;
}

/* Header Section */

#idpm-header {
    width: 100vw;
    height: 12vh;
    min-height: 54px;
    font-family: Logo-Font;
    color: #b2ffff !important;
    font-size: calc(3vw + 0.7rem);
    position: relative;
    z-index: 2000;
    margin-bottom: 20px;
}

#idpm-headerCover {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    border-radius: 50%;
    z-index: 3000;
}

#idpm-logoLeft,
#idpm-logoRight {
    letter-spacing: calc(3vw + 1rem);
}

#idpm-logoRight {
    transform: rotateY(180deg);
}

#idpm-logoMoon {
    font-family: "Illustrated";
    font-size: calc(2vw + 0.5rem);
    padding-top: calc(1vw + 0.25rem);
    text-shadow: 0 0 28px #a2e5ff;
}

#idpm-logo:hover {
    color: #1c9b31 !important;
}

/* Showcase Section */

#idpm-showcase {
    width: 100vw;
    height: 30vh;
    min-height: 150px;
    margin: 0;
}

#idpm-orderDiv {
    width: fit-content;
    max-height: 40px;
    font-family: "Creepster", cursive;
    font-size: calc(2vw + 0.7rem);
    text-align: center;
    background: linear-gradient(to bottom, #ffe56f, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.8vw;
    white-space: nowrap;
    position: relative;
    bottom: 20px;
    /* margin-left: 5vw; */
}

#idpm-orderDiv:hover {
    background: #f8cc09;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#idpm-orderDiv:active {
    background: #8e0000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#idpm-centralDiv {
    width: 100%;
    flex-grow: 1;
}

#idpm-navUl {
    width: 45%;
    margin: 0 0 0 2vw;
}

#idpm-navUl li {
    width: fit-content;
    height: fit-content;
    margin: calc(4vw + 0.5rem) 0;
    transform: rotate(-33deg);
}

#idpm-portNav,
#idpm-appNav {
    font-family: "Pandora";
    font-size: calc(1vw + 0.5rem);
    letter-spacing: 0.42vw;
    text-decoration: none;
    color: #a2e5ff !important;
}

#idpm-portNav:hover,
#idpm-appNav:hover {
    color: #27b595 !important;
}

#idpm-orderCentral {
    width: 45%;
    height: 100%;
    padding: 30px 0 0 8%;
}

#idpm-orderRight {
    font-family: "Star-Bold";
    font-size: calc(2vw + 0.5rem);
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5vw;
    color: #b2ffff;
    width: fit-content;
    transform: rotate(33deg);
    flex-grow: 1;
}

#idpm-orderRight:hover {
    color: #27b595 !important;
}

#idpm-orderRightStar {
    font-family: "Illustrated";
    font-size: calc(2vw + 0.5rem);
    letter-spacing: 0;
}

#idpm-donateDiv {
    width: 100%;
    position: relative;
}

#idpm-donateLink {
    width: 100%;
}

#idpm-donateIcon {
    transform: rotate(150deg);
    margin: 0 auto;
}

/* Notes Section */

#idpm-notes {
    width: inherit;
    height: 1vh;
    font-family: 'Gluten', cursive;
    font-size: calc(1.2vw + 0.25rem);
}

#idpm-skipAnimations {
    width: fit-content;
    height: fit-content;
    color: #a2e5ff;
    white-space: nowrap;
    line-height: 5vh;
    text-align: end;
    position: relative;
    left: 1vh;
    z-index: 4000;
}

#idpm-footerNote {
    width: fit-content;
    height: fit-content;
    color: #a2e5ff;
    text-decoration: none;
    white-space: nowrap;
    transform: rotate(33deg);
    position: relative;
    right: 2vh;
}


/* Footer */

#idpm-footer {
    width: 100%;
    height: 105px;
}

#idpm-footerUl {
    width: 40%;
    height: 100%;
    max-height: fit-content;
}

#idpm-telegramNav {
    align-self: center;
}

#idpm-emailNav {
    transform: rotate(10deg);
    align-self: flex-start;
}

#idpm-linkedinNav {
    transform: rotate(-20deg);
    align-self: center;
}

/* Media Queries */

@media (max-width: 576px) {

    #idpm-footer {
        padding-bottom: 20px;
    }

    #idpm-footerUl {
        width: 50%;
        height: 150px;
        padding-bottom: 30px;
    }
}