@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
#m-loadingTxt {
  display: block;
  color: #a2e5ff;
  font-family: 'Gluten', cursive;
  font-weight: 100;
  text-align: center;
  margin-bottom: 60px;
  animation: loading 2.5s infinite linear both;
}

#m-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  /* min-width: 96vw;
  min-height: 96vh; */
  width: 98vw;
  height: 96vh;
  margin: auto;
  font-weight: 300;
  font-size: 24px;
  background: #02021b;
}

.mosaic-loader {
  --cell-size: 64px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cells: 4;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}
.mosaic-loader > .cell {
  --cell-color: white;
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  /* border: var(--border-width) solid var(--cell-color); */
  border: none;
  animation: 2.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
  --cell-color: #ffad50;
}
.mosaic-loader > .cell:nth-child(2) {
  --cell-color: #ff8800;
}
.mosaic-loader > .cell:nth-child(3) {
  --cell-color: #ff5100;
}
.mosaic-loader > .cell:nth-child(4) {
  --cell-color: #ad0000;
}
.mosaic-loader > .cell:nth-child(5) {
  --cell-color: #ff8800;
}
.mosaic-loader > .cell:nth-child(6) {
  --cell-color: #ff5100;
}
.mosaic-loader > .cell:nth-child(7) {
  --cell-color: #ad0000;
}
.mosaic-loader > .cell:nth-child(8) {
  --cell-color: #8e0000;
}
.mosaic-loader > .cell:nth-child(9) {
  --cell-color: #ff5100;
}
.mosaic-loader > .cell:nth-child(10) {
  --cell-color: #ad0000;
}
.mosaic-loader > .cell:nth-child(11) {
  --cell-color: #8e0000;
}
.mosaic-loader > .cell:nth-child(12) {
  --cell-color: #6d0101;
}
.mosaic-loader > .cell:nth-child(13) {
  --cell-color: #ad0000;
}
.mosaic-loader > .cell:nth-child(14) {
  --cell-color: #8e0000;
}
.mosaic-loader > .cell:nth-child(15) {
  --cell-color: #6d0101;
}
.mosaic-loader > .cell:nth-child(16) {
  --cell-color: #520000;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}