:root {
    --home-lg-width: 40vw;
    --home-md-width: 18vw;
    --app-width: 40vw;
}

/* Classes */

.p-nav-link {
    font-family: 'Poiret One', cursive;
    font-weight: 1000;
    font-size: calc(1vw + 1.5vh);
    color: #2e710f;
    margin: 1vw 2vw;
    text-decoration: none;
}

.p-nav-link:hover {
    color: indigo;
}

.reflection {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0.7;
    transform-style: preserve-3d;
    /* box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
              0px 10px 10px rgba(0,0,0,0.1); */
}

.reflection::after {
    content: "";
    background: inherit;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -19%;
    transform: scaleY(-1);
    background-position: bottom;
    background-size: cover;
    opacity: 0.5;
}

.reflection::before {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -20%;
    background: linear-gradient(to bottom, #ffd70000, #ffd70066 50%, rgba(255, 215, 0, 1));
    z-index: 1;
}

.p-paragraph {
    font-family: 'Courgette', cursive;
    font-size: 2.3vw;
    color: #6a24ac;
    margin: 5%;
}

/* ID Tags */

#p-body {
    width: inherit;
    min-width: 320px;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-image: linear-gradient(goldenrod 10%, gold 30%);
}

/* Header Section */

#p-header {
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(gold, goldenrod);
    position: fixed;
    padding: 0 2vw;
    z-index: 1000;
}

#p-logo {
    font-family: 'Fredericka the Great', cursive;
    font-size: calc(1.5vw + 2.5vh);
    color: #4b0082;
    margin: 1vw;
    text-decoration: none;
}

#p-logo:hover {
    color: #2e710f;
}

/* Main Section */

#p-mainPage {
    width: 80%;
    height: fit-content;
    position: relative;
    top: 15vh;
    border: 2px solid #c78809;
    border-bottom: 0;
    border-radius: 3.2rem 3.2rem 0 0;
    margin-bottom: 15vh;
}

#p-mainHeader {
    /* border-bottom: 2px solid #c78809; */
    border-radius: 3rem 3rem 0 0;
    min-width: 100%;
    min-height: 12%;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: auto;
    color: #1b7521;
}
/* 
#p-mainPar {
    margin: 5%;
} */

/* Home Section */

#p-homeSecondPar {
    margin-top: 15%;
}

/* #p-homeImgContainer {
    width: 90%;
} */

#p-homePage {
    width: 90%;
    height: inherit;
    border-left: 2px solid #c78809;
    margin: 10vh 0;
    position: relative;
    left: 5%;
}

#p-homeFlexColBox {
    border-right: 2px solid #c78809;
}

#p-homeHeader {
    border: 2px solid #c78809;
    border-left: 0;
    border-radius: 0 3rem 3rem 0;
    height: fit-content;
    width: 11.11%;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 2%;
    color: rgb(27, 117, 33);
    font-size: 2.5vw;
    writing-mode: vertical-rl;
    display: inline-block;
    text-orientation: upright;
}

#p-homeLgDiv {
    width: var(--home-lg-width);
    height: calc(var(--home-lg-width)*0.467);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeLg.png');
    transform: rotateY(-12deg);
}

#p-homeLgParentDiv {
    width: var(--home-lg-width);
    height: calc(var(--home-lg-width)*0.467);
    position: relative;
    perspective: 20rem;
    margin: 0 5% 0 2%;
}

#p-homeMdParentDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    position: relative;
    perspective: 20rem;
    margin-right: 2%;
}

#p-homeMdDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeMd.png');
    transform: rotateY(12deg);
}

/* App Section */

#p-appPage {
    width: 90%;
    height: inherit;
    border-right: 2px solid #c78809;
    border-radius: 0 0 0 2.2rem;
    margin-bottom: 10vh;
    position: relative;
    right: 5%;
}

#p-appHeader {
    border: 2px solid #c78809;
    border-radius: 3rem 0 0 3rem;
    min-height: fit-content;
    width: 11.11%;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 2%;
    color: #1b7521;
    font-size: 2.5vw;
    writing-mode: vertical-rl;
    display: inline-block;
    text-orientation: upright;
}

#p-appFlexColBox {
    width: 88%;
}

#p-appFirstPar {
    width: 20%;
    text-align: center;
}

#p-appTxtImgContainer {
    /* width: 88%; */
    justify-content: start;
    /* margin: 5%; */
    margin-top: 0;
}

#p-appImageContainer {
    width: var(--app-width);
    height: calc(var(--app-width)*1.038);
    margin-right: 4%;
}

#p-appImgDiv {
    align-self: flex-end;
    width: var(--app-width);
    height: calc(var(--app-width)*1.038);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/app.png');
}

/* Media Queries */

@media (min-width: 992px) {

    #p-mainPage {
        height: 25vw;
    }

    #p-mainHeader {
        font-size: 2.5vw;
        padding: 1.5vw;
    }
}

@media (min-width:768px) and (max-width: 992px) {

    #p-mainPage {
        height: 25vw;
    }

    #p-mainHeader {
        font-size: 3vw;
        padding: 1.5vw;
    }
}

@media (min-width:576px) and (max-width: 768px) {

    #p-mainPage {
        height: 28vw;
    }

    #p-mainHeader {
        font-size: 4vw;
        padding: 1.5vw;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    #p-mainHeader {
        font-size: 5.5vw;
        padding: 3vw;
    }

}

@media (max-width: 320px) {
    #p-mainHeader {
        font-size: 5.5vw;
        padding: 3vw;
    }
}

/* End of Media Queries */