:root {
    --home-lg-width: 40vw;
    --home-md-width: 18vw;
    --app-width: 40vw;
}

@media (max-width: 250px) {
    :root {
        --home-lg-width: 100px;
        --home-md-width: 45px;
        --app-width: 100px;
    }
}

/* Classes */

.idpp-hoverable {
    cursor: url('../images/svg/pointer-hover.svg'), auto;
}

.page-flexbox {
    width: 100%;
    height: fit-content;
    padding: calc(2vw + 0.7rem) 0;
}

.reflection {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0.7;
    transform-style: preserve-3d;
    /* box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
              0px 10px 10px rgba(0,0,0,0.1); */
}

.reflection::after {
    content: "";
    background: inherit;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -19%;
    transform: scaleY(-1);
    background-position: bottom;
    background-size: cover;
    opacity: 0.5;
}

.reflection::before {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -20%;
    background: linear-gradient(to bottom, #ffd70000, #ffd70066 50%, rgba(255, 215, 0, 1));
    z-index: 1;
}

.idpp-paragraph {
    font-family: 'Courgette', cursive;
    font-size: calc(1.5vw + 0.4rem);
    color: #6a24ac;
    padding: 5%;
    margin: 0;
}

.idpp-section-header {
    width: 100%;
    height: fit-content;
}

.idpp-header-border {
    border: 1px solid #d8215e;
    background: #d8215e;
}

.idpp-header-title {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 2%;
    color: #1b7521;
    font-size: calc(1.5vw + 0.5rem);
    opacity: 1;
}

.idpp-section-page {
    width: 100%;
    height: fit-content;
    border: 2px solid #d8215e;
    border-top: 0;
    margin-bottom: calc(5vw + 5vh);
    position: relative;
}

/* ID Tags */

#idpp-body {
    height: fit-content;
    background: gold;
    cursor: url('../images/svg/pointer.svg'), auto;
}

/* Showcase */

#idpp-showcase {
    width: 80%;
    height: fit-content;
    position: relative;
    top: 10px;
    margin: 80px auto;
}

/* Main Section */

#idpp-mainPar {
    height: fit-content;
}

/* Home Section */

#idpp-homeSecondPar {
    margin-top: 15%;
}

#idpp-homeLgDiv {
    width: var(--home-lg-width);
    height: calc(var(--home-lg-width)*0.467);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeLg.png');
    transform: rotateY(-12deg);
}

#idpp-homeLgParentDiv {
    width: var(--home-lg-width);
    height: calc(var(--home-lg-width)*0.467);
    position: relative;
    perspective: 20rem;
    margin: 0 5% 0 2%;
}

#idpp-homeMdParentDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    position: relative;
    perspective: 20rem;
    margin-right: 2%;
}

#idpp-homeMdDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeMd.png');
    transform: rotateY(12deg);
}

/* App Section */

#idpp-appFirstPar {
    width: 20%;
    text-align: center;
}

#idpp-appTxtImgContainer {
    justify-content: start;
    margin-top: 0;
}

#idpp-appImageContainer {
    width: var(--app-width);
    height: calc(var(--app-width)*1.038);
    margin-right: 4%;
}

#idpp-appImgDiv {
    align-self: flex-end;
    width: var(--app-width);
    height: calc(var(--app-width)*1.038);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/app.png');
}

/* Portfolio Section */

#idpp-portFirstPar {
    width: 20%;
    text-align: center;
}

#idpp-portTxtImgContainer {
    justify-content: end;
    margin-top: 0;
}

#idpp-portImageContainer {
    width: var(--app-width);
    height: calc(var(--app-width)*1.038);
    margin-left: 4%;
}

#idpp-portImgDiv {
    align-self: flex-start;
    width: var(--app-width);
    height: calc(var(--app-width)*1.038);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/app.png');
}

/* Others Section */

#idpp-othersSecondPar {
    margin-top: 15%;
}

#idpp-othersImageContainer {
    width: 80%;
}

#idpp-othersLgDiv {
    width: var(--home-lg-width);
    height: calc(var(--home-lg-width)*0.467);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeLg.png');
    transform: rotateY(-12deg);
}

#idpp-othersLgParentDiv {
    width: var(--home-lg-width);
    height: calc(var(--home-lg-width)*0.467);
    position: relative;
    perspective: 20rem;
    margin: 0 5% 0 2%;
}

#idpp-othersLeftParentDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    position: relative;
    perspective: 20rem;
    margin: 5%;
}

#idpp-othersLeftDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeMd.png');
    transform: rotateY(12deg);
}

#idpp-othersMiddleParentDiv {
    width: calc(var(--home-md-width)*0.95);
    height: calc(var(--home-md-width)*0.95);
    position: relative;
    margin: 5%;
}

#idpp-othersMiddleDiv {
    width: calc(var(--home-md-width)*0.95);
    height: calc(var(--home-md-width)*0.95);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeMd.png');
}

#idpp-othersRightParentDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    position: relative;
    perspective: 20rem;
    margin: 5%;
}

#idpp-othersRightDiv {
    width: var(--home-md-width);
    height: var(--home-md-width);
    background-image: linear-gradient(to bottom, #ffd70000 70%, #ffd700b3 98%, #ffef92), url('../images/homeMd.png');
    transform: rotateY(-12deg);
}

/* Media Queries */

@media (max-width: 768px) {
    .page-flexbox {
        padding-bottom: 0;
    }
}

/* End of Media Queries */