/* ID Tags */

#idpo-body {
    background: #ffffff;
}

/* Showcase */

/* Classes */

.idpo-input-field {
    font-family: 'Tajawal', sans-serif;
    font-size: calc(1vw + 0.6rem);
    line-height: 1.5rem;
    border: 2px solid #daa520;
    border-radius: 0.5rem;
    padding: 8px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idpo-input-field span {
    margin-left: 10px;
}

.idpo-input-field textarea {
    width: 90%;
    height: 90%;
    background: #feeb7d;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    color: #d8215e;
    border: 2px solid #079536;
    border-radius: 0.5rem;
    padding: 8px;
    margin: 5px 10px;
}

.idpo-input-field input {
    background: #feeb7d;
    border: 2px solid #079536;
    border-radius: 0.2rem;
    color: #d8215e;
    padding: 5px 10px;
    margin: 5px 10px;
}

.idpo-input-field *:focus {
    outline: none;
    border: 2px solid #d8215e;
    color: #056926;
}

.idpo-input-field-error {
    color: #f00 !important;
}

.idpo-input-error {
    background: #ff000061 !important;
    color: #fff099 !important;
    border: 2px solid #f00 !important;
}

/* ID Tags */

#idpo-showcase {
    /* min-width: fit-content; */
    position: relative;
    align-self: center;
    top: 15vh;
    margin: 5vh 0;
}

#idpo-projectBudget {
    min-width: 90px;
    max-width: 110px;
}

#idpo-projectDuration {
    min-width: 50px;
    max-width: 70px;
}

#idpo-clientEmail {
    width: 60%;
}

/* Media Queries */

@media (max-width: 768px) {
    .idpo-input-field {
        flex-direction: column;
        align-items: flex-start;
    }

    #idpo-clientEmail {
        width: 90%;
    }
}

@media (max-width: 320px) {

    #idpo-projectBudget {
        width: 75%;
    }

}