.idpo-hoverable {
    cursor: url('../images/svg/pointer-hover.svg'), auto;
}

#idpo-body {
    background: #ffffff;
    cursor: url('../images/svg/pointer.svg'), auto;
}

/* Showcase Section */

/* Classes */

/* ID Tags */

#idpo-showcase {
    min-width: fit-content;
    position: relative;
    align-self: center;
    top: 15vh;
    margin: 5vh 0;
}
