@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

#m-loadingTxt {
  display: block;
  color: #a2e5ff;
  font-family: 'Gluten', cursive;
  font-size: calc(2vw + 2vh);
  font-weight: 100;
  text-align: center;
  margin-bottom: 60px;
  animation: m-loading 2.5s infinite linear both;
}

#m-loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: auto;
  background: #02021b;
}

.m-mosaic-loader {
  --m-cell-size: 64px;
  --m-cell-spacing: 1px;
  --m-border-width: 1px;
  --m-cells: 4;
  --m-total-size: calc(var(--m-cells) * (var(--m-cell-size) + 2 * var(--m-cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--m-total-size);
  height: var(--m-total-size);
}

.m-mosaic-loader>.m-cell {
  --m-cell-color: white;
  flex: 0 0 var(--m-cell-size);
  margin: var(--m-cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  /* border: var(--m-border-width) solid var(--m-cell-color); */
  border: none;
  animation: 2.5s m-ripple ease infinite;
}

.m-mosaic-loader>.m-cell.d-1 {
  animation-delay: 100ms;
}

.m-mosaic-loader>.m-cell.d-2 {
  animation-delay: 200ms;
}

.m-mosaic-loader>.m-cell.d-3 {
  animation-delay: 300ms;
}

.m-mosaic-loader>.m-cell.d-4 {
  animation-delay: 400ms;
}

.m-mosaic-loader>.m-cell.d-5 {
  animation-delay: 500ms;
}

.m-mosaic-loader>.m-cell.d-6 {
  animation-delay: 600ms;
}

.m-mosaic-loader>.m-cell:nth-child(1) {
  --m-cell-color: #ffad50;
}

.m-mosaic-loader>.m-cell:nth-child(2) {
  --m-cell-color: #ff8800;
}

.m-mosaic-loader>.m-cell:nth-child(3) {
  --m-cell-color: #ff5100;
}

.m-mosaic-loader>.m-cell:nth-child(4) {
  --m-cell-color: #ad0000;
}

.m-mosaic-loader>.m-cell:nth-child(5) {
  --m-cell-color: #ff8800;
}

.m-mosaic-loader>.m-cell:nth-child(6) {
  --m-cell-color: #ff5100;
}

.m-mosaic-loader>.m-cell:nth-child(7) {
  --m-cell-color: #ad0000;
}

.m-mosaic-loader>.m-cell:nth-child(8) {
  --m-cell-color: #8e0000;
}

.m-mosaic-loader>.m-cell:nth-child(9) {
  --m-cell-color: #ff5100;
}

.m-mosaic-loader>.m-cell:nth-child(10) {
  --m-cell-color: #ad0000;
}

.m-mosaic-loader>.m-cell:nth-child(11) {
  --m-cell-color: #8e0000;
}

.m-mosaic-loader>.m-cell:nth-child(12) {
  --m-cell-color: #6d0101;
}

.m-mosaic-loader>.m-cell:nth-child(13) {
  --m-cell-color: #ad0000;
}

.m-mosaic-loader>.m-cell:nth-child(14) {
  --m-cell-color: #8e0000;
}

.m-mosaic-loader>.m-cell:nth-child(15) {
  --m-cell-color: #6d0101;
}

.m-mosaic-loader>.m-cell:nth-child(16) {
  --m-cell-color: #520000;
}

@keyframes m-ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--m-cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes m-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}