/* Element tags */

* {
    box-sizing: border-box;
}

html {
    width: inherit;
    height: inherit;
    min-height: 100vh;
    cursor: url('../images/svg/pointer.svg'), auto;
}

body {
    width: inherit;
    height: inherit;
    overflow-x: hidden;
    margin: 0;
    background: #02021b;
}

ul {
    list-style: none;
    padding: 0;
}

/* Classes */

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.invisible {
    visibility: hidden !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.flex-grow-1 {
    flex-grow: 1;
}

.sound-enabled {
    color: green;
}

.sound-disabled {
    color: red;
}

.lg-wide-screen {
    min-height: 569px !important;
    min-width: 1280px !important;
}

.preload {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gluten', cursive;
}

.hoverable {
    cursor: url('../images/svg/pointer-hover.svg'), auto;
}

/* ID tags */


/* Media Queries */

@media (min-width: 992px) {
    body {
        background: #0bc0b7;
    }
}