i{
    position:fixed;
    width:50px;
    height:50px;
    border-radius:50%;
    background:radial-gradient(at 30% 30%,#0000,#000a) red;
    left:10px;
    top:200px;
  }
  i.start {
    animation:
      x 2s linear,
      y 2s cubic-bezier(0,800,1,800);
  }
  
  @keyframes x {
     to {
       left:150px;
     }
  }
  @keyframes y {
     to {
       top:200.2px;
     }
  }
  
  
  /**/
  d {position:fixed;height:4px;width:4px;background:#222;border-radius:50%}
  button {border:none;border-radius:10px;padding:10px 20px;cursor:pointer;position:fixed;top:20px;right:20px;font-family:sans-serif;font-size:30px;background:#c82629;color:#fff;}